/* Hide option to open links in a new window. */

#wp-link .link-target {
  display: none;
}


/* Publish Button Alignment */
#publishing-action .button {
  display: block;
  float: right !important;
}

#workflow_submit.button,
#oasiswf_make_revision.button {
  clear: both;
  margin-top: 5px;
}
