/* Triplicate (code) */
@font-face {
    font-family: 'triplicate';
    src: url('fonts/triplicate/triplicate_t4_code_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

textarea.wp-editor-area {
	color: #111111;
	font-family: triplicate, monospace;
	font-size: 16px;
}
