/* Limit post editor width */

.post-php .wrap,
.post-new-php .wrap {
  margin: 0 auto;
  max-width: 960px;
}

/* Hide option to open links in a new window. */

#wp-link .link-target {
  display: none;
}


/* Red Publish button. */
input#publish {
  background: #bb0000;
  border-color: #aa0000;
}

input#publish:focus,
input#publish:hover {
  background: #cc0000;
  border-color: #bb0000;
}

input#publish:focus,
input#publish:hover {
  background: #aa0000;
  border-color: #aa0000;
}
